<!--banner-->
<div class="product">
    <div class="banner">

        <div class="banner__slider">
            <div class="sky-clouds skies-1">
                <div class="sky-cloud">
                    <span class="cl-1"></span>
                    <span class="cl-2"></span>
                    <span class="cl-3"></span>
                </div>
            </div>
            <div class="sky-clouds skies-2">
                <div class="sky-cloud">
                    <span class="cl-1"></span>
                    <span class="cl-2"></span>
                    <span class="cl-3"></span>
                </div>
            </div>
            <div class="sky-clouds skies-3">
                <div class="sky-cloud">
                    <span class="cl-1"></span>
                    <span class="cl-2"></span>
                    <span class="cl-3"></span>
                </div>
            </div>
            <div class="slider1">
                <div class="item">
                    <div class="product__cloud cloud-1">
                        <img src="./assets/images/cloud-1.png" alt="">
                    </div>
                    <div class="product__cloud cloud-2">
                        <img src="./assets/images/cloud-2.png" alt="">
                    </div>
                    <div class="product__cloud cloud-3">
                        <img src="./assets/images/cloud-3.png" alt="">
                    </div>

                    <div class="title">
                        <div class="title-1"> Ưu điểm nổi trội 
                            <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                        </div>
                        <div class="title-2">của tã Unidry</div>
                    </div>
                    <div class="item-detail">
                        <div class="item-detail--image">
                            <div class="item-detail--left">
                                <div class="item-detail--title">Lưng thun co giãn</div>
                                <div class="item-detail--sub-title">Vận động dễ dàng</div>
                                <div class="item-detail--des">
                                    Chất liệu an toàn song hành 
                                    cùng bề mặt thấm hút tối đa và vạch Chất liệu an toàn song hành 
                                    cùng bề mặt thấm hút tối đa và vạch
                                    Chất liệu an toàn song hành 
                                    cùng bề mặt thấm hút tối đa và vạch
                                </div>
                            </div>
                            <div class="item-detail--center">
                                <div class="item-detail--center-image">
                                    <img src="./assets/images/product-images-detail.png" alt="">
                                </div>
                            </div>
                            <div class="item-detail--right">
                                <div class="item-detail--title">Lưng thun co giãn</div>
                                <div class="item-detail--sub-title">Vận động dễ dàng</div>
                                <div class="item-detail--des">
                                    Chất liệu an toàn song hành 
                                    cùng bề mặt thấm hút tối đa và vạch Chất liệu an toàn song hành 
                                    cùng bề mặt thấm hút tối đa và vạch
                                    Chất liệu an toàn song hành 
                                    cùng bề mặt thấm hút tối đa và vạch
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
