<!--banner-->
<div class="promotion">
    <div class="banner">

        <div class="banner__slider">
            <div id="clouds">
                <!-- <div class="cloud x1"></div> -->
                <div class="cloud x2"></div>
                <!-- <div class="cloud x3"></div> -->
                <div class="cloud x4"></div>
                <div class="cloud x5"></div> 
            </div>
            <div class="slider-promotion">
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <!--
                    <div class="title">
                        <div class="title-1"> Tã giấy Unidry
                            <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                        </div>
                        <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                    </div>
                    -->
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
