<!--banner-->
<div class="banner">
    <ul class="banner__icon">
        <li>
            <a href="#"><img src="./assets/images/icon-fb.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
        </li>
    </ul>

    <div class="banner__slider">
        <div class="slider1">
            <div class="item">
                <div class="title">
                    
                    <div class="title-1"> Tả giấy Unidry
                        <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                    </div>
                    <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                </div>
                <div class="img">
                    <img src="./assets/images/banner-home.jpg" alt="">
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="title-1"> Tả giấy Unidry
                        <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                    </div>
                    <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                </div>
                <div class="img">
                    <img src="./assets/images/banner-home.jpg" alt="">
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="title-1"> Tả giấy Unidry
                        <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                    </div>
                    <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                </div>
                <div class="img">
                    <img src="./assets/images/banner-home.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>