<!--banner-->
<div class="promotion">
    <div class="banner">

        <div class="banner__slider">
            <div class="slider-promotion">
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <!--
                    <div class="title">
                        <div class="title-1"> Tả giấy Unidry
                            <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                        </div>
                        <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                    </div>
                    -->
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
