<!--banner-->
<div class="world-kid">
    <div class="world-kid__banner">
        <div class="images">
            <img src="./assets/images/banner-share.jpg" alt="">
        </div>
        <div class="title">
            Thế giới của bé
        </div>
    </div>
   
</div>
