<!--banner-->
<div class="banner">

    <div class="banner__slider">
        <div class="sky-clouds skies-1">
            <div class="sky-cloud">
                <span class="cl-1"></span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
        </div>
        <div class="sky-clouds skies-2">
            <div class="sky-cloud">
                <span class="cl-1"></span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
        </div>
        <div class="slider1">
            <div class="item" id="videoPlay">
                <div class="img">
                    <video id="videoAutoplay" width="100%" height="auto" controls autoplay="true">
                        <source src="./assets/images/test05.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="title-1"> Tã giấy Unidry
                        <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                    </div>
                    <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                </div>
                <div class="img">
                    <img src="./assets/images/banner-home.jpg" alt="">
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <div class="title-1"> Tã giấy Unidry
                        <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                    </div>
                    <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                </div>
                <div class="img">
                    <img src="./assets/images/banner-home.jpg" alt="">
                </div>
            </div>
            
        </div>
    </div>

</div>