<!--banner-->
<div class="world-kid">
    <div class="sky-clouds skies-1">
        <div class="sky-cloud">
            <span class="cl-1"></span>
            <span class="cl-2"></span>
            <span class="cl-3"></span>
        </div>
    </div>
    <div class="sky-clouds skies-3">
        <div class="sky-cloud">
            <span class="cl-1"></span>
            <span class="cl-2"></span>
            <span class="cl-3"></span>
        </div>
    </div>
    <div class="world-kid__banner">
        <div class="images">
            <img src="./assets/images/banner-share.jpg" alt="">
        </div>
        <div class="title">
            Thế giới của bé
        </div>
    </div>
   
</div>
