.contact{
   
    &__title{
        font-size: 42px;
        font-family: 'iCielMijas';
        // color:#9d773d;
        color: #ec038d;
        position: relative;
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 40px;
        .heart{
            position: absolute;
            &-1{
                top: -2px;
                right: -30px;   
                max-width: 30px;
            }
            @media (max-width:768px) {
                top: 0;
                right: -15px;
                max-width: 28px;
            } 
        }
    }
    &__content{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        padding: 0 20px 0 20px;
        max-width: 78.125vw;
        text-align: center;
        
        @media(max-width: 992px){
            max-width: 100%;
            margin-bottom: 65px;
        }
    }

    &__info{
        text-align: left;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        @media(max-width: 992px){
            max-width: 100%;
        }
        &--select{
            select{
                height: 60px;
                max-width: 560px;
                width: 100%;
                border: 1px solid #9d773d;
                color:#9d773d;
                border-radius:8px;
                font-family: 'Gotham-Medium';
                font-size: 18px;
                padding-left: 25px;
                cursor: pointer;
                outline: none;
                display: block;

                margin-left: auto;
                margin-right: auto;

                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                background-image: url('../assets/images/button-select.jpg');
                background-repeat: no-repeat;
                background-position: calc(100% - 20px);
                margin-bottom: 15px;
                @media(max-width: 992px){
                   height: 50px;;
                }
                @media (max-width:768px) {
                    max-width: 100%;
                } 
                &:last-child{
                    margin-bottom: 0
                }
            }
        }
        &--store{
            margin-top: 35px;
            max-width: 1000px;
            border: 1px solid #9d773d;
            border-radius:8px;
            padding: 8px;
            margin-left: auto;
            margin-right: auto;
            .list-store{
                overflow-y: scroll;
                height: 545px;
               
                &::-webkit-scrollbar-track{
                    background-color: #9d773d;
                    border-radius: 6px;
                }

                &::-webkit-scrollbar{
                    width: 30px;
                    background-color: #9d773d;
                    border-radius: 6px;
                    @media(max-width:992px) {
                        width: 15px;
                    }
                    @media(max-width:768px) {
                        width: 10px;
                    }
                }

                &::-webkit-scrollbar-thumb{
                    background-color: #fff;
                    border: 1px solid transparent;
                    border-radius: 6px;
                    background-clip: content-box;
                }
                @media(max-width:992px) {
                    padding-left: 0;
                    padding-right: 30px;
                }
                ul{
                    padding-left: 23px;
                    li{
                        font-size: 18px;
                        font-family: 'Roboto-Light';
                    }
                }
                .store-detail{
                    color: #9d773d;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        height: 1px;
                        max-width: 270px;
                        width: 100%;
                        background-color: #9d773d;
                        bottom: 0
                    }
                    .name{
                        font-size: 20px;
                        font-family: 'Gotham-Medium';
                         @media(max-width: 992px){
                            font-size: 18px;
                        }
                    }
                    .address{
                        font-size: 16px;
                        font-style: italic;
                        font-family: 'Roboto-Light';
                         @media(max-width: 992px){
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .section1{
        &::before{
            // top: -50px;
            top: -48px;
        }
        &::after{
            bottom: -150px;
            @media(max-width: 992px){
                bottom: -110px;
            }
        }
    }
}