.promotion{
    .section1__slider{
        margin-top: 20px;
        .slick-prev{
            left: -20px;
        }
        .slick-next{
            right: -20px;
        }
        .slick-dots{
            bottom: -30px
        }
        .item{
            // height:100%;
            // @media(max-width: 768px){
            //     min-height: 445px;
            // }
            table{
                height: 100%;
                width: 100%;
                td{
                    vertical-align: bottom
                }
            }
            .title{
                font-style: italic;
                font-size: 16pt;
                font-family: 'Gotham-Light';
                background: transparent;
                height: auto;
            }
            .content{
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
            
        }
    }
    .section1 .heart{
        @media(max-width: 768px){
            top: -20px;
            right: -25px;
        }
    }
    .slick-dots{
        @media(max-width: 768px){
            bottom: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
        }
    }

    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%)
    }
    
    .slick-prev{
        left: 125px;
        @media(max-width: 992px){
            left: 30px;
        }
    }
    .slick-next{
        right: 125px;
        @media(max-width: 992px){
            right: 30px;
        }
    }
        
    .slick-arrow{
        background-color: #7c5723;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border:none;
        outline: none;
        cursor: pointer;
        z-index: 2;
        &:hover{
            box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
        }
        img{
            max-width: 17px;
            width: 100%;
            margin-right: 2px;
        }
    }


    &__detail{
        >.post{
            padding-top: 50px;
            &::before{
                top: -46px;
                @media(max-width: 1200px){
                    display: none
                }
            }
        }
    }
}