// @import "./config/*";

// .taisun_website{
//     @import "./pages/*";
//     @import "./layouts/*";
// }

.taisun_website {
    font-family: 'Roboto-Light';
    border: none;
    font-size: 13px
}

@import "./config/fonts.scss";

.taisun_website{

    /*COMPONENTS*/
    @import "./layouts/global.scss";
    @import "./layouts/header.scss";
    @import "./layouts/footer.scss";
    @import "./layouts/animate.scss";
    @import "./layouts/header.scss";
    @import "./layouts/banner.scss";
    @import "./layouts/lightbox.scss";
    @import "./layouts/modal.scss";
    @import "./layouts/slick-slider.scss";
    @import "./layouts/star-rating.scss";
   
    /*pages*/
    @import "./pages/home.scss";
    @import "./pages/product.scss";
    @import "./pages/product-detail.scss";
    @import "./pages/contact.scss";
    @import "./pages/promotion.scss";
    @import "./pages/world-kid.scss";
    @import "./pages/post.scss";
    @import "./pages/advisory.scss";
}
