
@font-face {
  font-family: 'iCielSmoothy-Cursive';
  src: url('iCielSmoothy-Cursive.eot?#iefix') format('embedded-opentype'),  url('iCielSmoothy-Cursive.woff') format('woff'), url('iCielSmoothy-Cursive.ttf')  format('truetype'), url('iCielSmoothy-Cursive.svg#iCielSmoothy-Cursive') format('svg');
  font-weight: normal;
  font-style: normal;
}
