<!--section1-->
<div class="advisory">
    <div class="advisory__contain">
        <div class="world-kid__headings">
            Bố mẹ hỏi, Unidry sẽ trả lời. Đừng ngại ngần mà hãy đặt ngay câu hỏi tại mẫu bên dưới nhé!
        </div>
        <div class="advisory__content">
           <div class="advisory__selectbox">
                <div class="selectbox--left">
                    <div class="title">Tìm chuyên mục mẹ quan tâm</div>
                    <div class="input">
                       <input type="text" placeholder="Nhập câu hỏi tại đây">
                    </div>
                    <!-- <div class="select">
                        <select name="" id="">
                            <option value="" selected>Nhập câu hỏi tại đây</option>
                        </select>
                    </div> -->
                    <div class="advisory__submit search"  data-toggle="modal" data-target="#sendQuestionsInfo">Tìm kiếm ngay</div>
                    <div class="heart-cupple-brown">
                        <img src="./assets/images/heart-cupple-brown.png" alt="">
                    </div>
                </div>
                <div class="selectbox--right">
                    <div class="title">Đặt câu hỏi của riêng mẹ</div>
                    <div class="text">
                        Những điều mẹ băn khoăn vẫn chưa được giải đáp. Đặt câu hỏi để nhận được tư vấn từ các chuyên gia Bác sĩ.
                    </div>
                    <!-- <div class="input">
                       <input type="text" placeholder="Hãy đặt những điều mà mẹ băn khoăn vào đây nhé!">
                    </div> -->
                    <div class="advisory__submit send-ask" data-toggle="modal" data-target="#sendQuestions">Gửi câu hỏi</div>
                    <div class="heart-cupple-brown">
                        <img src="./assets/images/heart-cupple-brown.png" alt="">
                    </div>
                </div>
                <div class="clearfix"></div>
           </div>

           <div class="advisory__lastest">
                <div class="advisory__lastest--title">
                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                    Thụ thai
                </div>
                <div class="advisory__lastest--content">
                    <div class="advisory__lastest--scroll">
                        <div class="lastest--content__sub-title">Câu hỏi mới nhất:</div>
                        <div class="lastest--content__list">
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

        </div> 
    </div>
  
</div>

<!-- Modal -->
<div class="modal fade popup_thanks" id="popup_thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="thanks__content">
                    <p class="text">Cảm ơn các bạn đã dành thời gian cho Taisun. 
                            Chúng tôi sẽ cố gắng để mang tới sản phẩm tốt hơn nữa.
                    </p>
                    <button data-dismiss="modal" class="button">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade sendQuestions" id="sendQuestions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="answers">
                    <div class="answers__item">
                        <div class="avatar">
                            <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                            <div class="des">
                                Xin thưa bác sĩ em có chuyện muốn hỏi Xin thưa bác sĩ em có chuyện muốn hỏi Xin thưa bác sĩ em có chuyện muốn hỏi 
                                Xin thưa bác sĩ em có chuyện muốn hỏi Xin thưa bác sĩ em có chuyện muốn hỏi
                            </div>
                            <div class="author">
                                <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="answers__item">
                        <div class="avatar">
                            <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                            <div class="des">
                                Xin thưa bác sĩ em có chuyện muốn hỏi Xin thưa bác sĩ em có chuyện muốn hỏi Xin thưa bác sĩ em có chuyện muốn hỏi 
                                Xin thưa bác sĩ em có chuyện muốn hỏi Xin thưa bác sĩ em có chuyện muốn hỏi
                            </div>
                            <div class="author">
                                <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade sendQuestionsInfo" id="sendQuestionsInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="info">
                    <form action="">
                        <div class="form-group">
                            <div class="title">
                                Tên của bạn
                            </div>
                            <div class="input">
                                <input type="text">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="title">
                                Số điện thoại
                            </div>
                            <div class="input">
                                <input type="text">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="title">
                                   Email
                            </div>
                            <div class="input">
                                <input type="text">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="title">
                                   Câu hỏi cần tư vấn
                            </div>
                            <div class="input">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="button-send">
                            <button>
                                Gửi
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>