<!--section1-->
<div class="advisory">
    <div class="advisory__contain">
        <div class="world-kid__headings">
            Bố mẹ hỏi, Unidry sẽ trả lời. Đừng ngại ngần mà hãy đặt ngay câu hỏi tại mẫu bên dưới nhé!
        </div>
        <div class="advisory__content">
           <div class="advisory__selectbox">
                <div class="selectbox--left">
                    <div class="title">Tìm chuyên mục mẹ quan tâm</div>
                    <div class="select">
                        <select name="" id="">
                            <option value="" selected>Chọn chuyên mục</option>
                        </select>
                    </div>
                    <div class="advisory__submit search">Tìm kiếm</div>
                </div>
                <div class="selectbox--right">
                    <div class="title">Đặt câu hỏi của riêng mẹ</div>
                    <div class="input">
                       <input type="text" placeholder="Hãy đặt những điều mà mẹ băn khoăn vào đây nhé!">
                    </div>
                    <div class="advisory__submit send-ask">Gửi câu hỏi</div>
                </div>
                <div class="clearfix"></div>
           </div>

           <div class="advisory__lastest">
                <div class="advisory__lastest--title">
                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                    Thụ thai
                </div>
                <div class="advisory__lastest--content">
                    <div class="advisory__lastest--scroll">
                        <div class="lastest--content__sub-title">Câu hỏi mới nhất:</div>
                        <div class="lastest--content__list">
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lastest--content__item">
                                <div class="avatar">
                                    <img src="./assets/images/icon-goc-tu-van.jpg" alt="">
                                </div>
                                <div class="content">
                                    <div class="title">Cách xác định ngày thụ thai dựa vào tuổi thai nhi</div>
                                    <div class="des">Xin thưa bác sĩ em có chuyện muốn hỏi </div>
                                    <div class="author">
                                        <span class="name">Nguyên Hảo</span> - <span class="time">1 tháng trước</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

        </div> 
    </div>
  
</div>