<!--section1-->
<div class="contact">
    <div class="section1">
        <div class="contact__content">
            <div class="contact__title">
                Chọn khu vực
                <img class="heart heart-1" src=".//images/heart-cupple.png" alt="">
            </div>
            <div class="contact__info">
                <div class="contact__info--select">
                    <select name="" id="">
                        <option value="" selected>Chọn Khu Vực</option>
                        <option value="1">1</option>
                    </select>
                    <select name="" id="">
                        <option value="" selected>Tất cả quận huyện</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div class="contact__info--store">
                    <div class="list-store">
                        <ul>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                            <li>
                                <div class="store-detail">
                                    <div class="name">Aeon Mal Tân Phú</div>
                                    <div class="address">30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Việt Nam</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>