<!--section1-->
<div class="world-kid">
    <div class="world-kid__contain">
        <div class="world-kid__headings">
            Đem đến cho các bậc phụ huynh "tất tần tật" những kiến thức cũng như tuyệt chiêu về tã giấy
            để có thể chăm sóc bé yêu dễ dàng hơn
        </div>
        <div class="world-kid__content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="world-kid__item">
                            <div class="world-kid__item-image">
                                <a href="#"><img src=".//images/share-item.jpg" alt=""></a>
                            </div>
                            <div class="world-kid__item-title">
                                <img src=".//images/world-kid-arrow.png" alt="">
                                Hai Bàn Tay Của Em <br>
                                Bé Hà Mi, Gia Khiêm <br>
                                Hướng Dẫn Đánh Răng Cực Đáng Yêu
                            </div>
                            <div class="world-kid__item-des">
                                    Ya yo! Cùng cầm bàn chải lên nào các bạn ơi  </br>
                                    Mình học đánh răng theo kiểu mới </br>
                                    Và được gặp những người bạn tuyệt vời </br>
                                    Nào mình cùng vừa chải vừa chơi...
                            </div>
                            <div class="world-kid__item-read-more">
                                   <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="world-kid__item">
                            <div class="world-kid__item-image">
                                <a href="#"><img src=".//images/share-item.jpg" alt=""></a>
                            </div>
                            <div class="world-kid__item-title">
                                <img src=".//images/world-kid-arrow.png" alt="">
                                Hai Bàn Tay Của Em <br>
                                Bé Hà Mi, Gia Khiêm <br>
                                Hướng Dẫn Đánh Răng Cực Đáng Yêu
                            </div>
                            <div class="world-kid__item-des">
                                    Ya yo! Cùng cầm bàn chải lên nào các bạn ơi  </br>
                                    Mình học đánh răng theo kiểu mới </br>
                                    Và được gặp những người bạn tuyệt vời </br>
                                    Nào mình cùng vừa chải vừa chơi...
                            </div>
                            <div class="world-kid__item-read-more">
                                    <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="world-kid__item">
                            <div class="world-kid__item-image">
                                <a href="#"><img src=".//images/share-item.jpg" alt=""></a>
                            </div>
                            <div class="world-kid__item-title">
                                <img src=".//images/world-kid-arrow.png" alt="">
                                Hai Bàn Tay Của Em <br>
                                Bé Hà Mi, Gia Khiêm <br>
                                Hướng Dẫn Đánh Răng Cực Đáng Yêu
                            </div>
                            <div class="world-kid__item-des">
                                    Ya yo! Cùng cầm bàn chải lên nào các bạn ơi  </br>
                                    Mình học đánh răng theo kiểu mới </br>
                                    Và được gặp những người bạn tuyệt vời </br>
                                    Nào mình cùng vừa chải vừa chơi...
                            </div>
                            <div class="world-kid__item-read-more">
                                    <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="world-kid__item">
                            <div class="world-kid__item-image">
                                <a href="#"><img src=".//images/share-item.jpg" alt=""></a>
                            </div>
                            <div class="world-kid__item-title">
                                <img src=".//images/world-kid-arrow.png" alt="">
                                Hai Bàn Tay Của Em <br>
                                Bé Hà Mi, Gia Khiêm <br>
                                Hướng Dẫn Đánh Răng Cực Đáng Yêu
                            </div>
                            <div class="world-kid__item-des">
                                    Ya yo! Cùng cầm bàn chải lên nào các bạn ơi  </br>
                                    Mình học đánh răng theo kiểu mới </br>
                                    Và được gặp những người bạn tuyệt vời </br>
                                    Nào mình cùng vừa chải vừa chơi...
                            </div>
                            <div class="world-kid__item-read-more">
                                    <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="world-kid__item">
                            <div class="world-kid__item-image">
                                <a href="#"><img src=".//images/share-item.jpg" alt=""></a>
                            </div>
                            <div class="world-kid__item-title">
                                <img src=".//images/world-kid-arrow.png" alt="">
                                Hai Bàn Tay Của Em <br>
                                Bé Hà Mi, Gia Khiêm <br>
                                Hướng Dẫn Đánh Răng Cực Đáng Yêu
                            </div>
                            <div class="world-kid__item-des">
                                    Ya yo! Cùng cầm bàn chải lên nào các bạn ơi  </br>
                                    Mình học đánh răng theo kiểu mới </br>
                                    Và được gặp những người bạn tuyệt vời </br>
                                    Nào mình cùng vừa chải vừa chơi...
                            </div>
                            <div class="world-kid__item-read-more">
                                    <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="world-kid__item">
                            <div class="world-kid__item-image">
                                <a href="#"><img src=".//images/share-item.jpg" alt=""></a>
                            </div>
                            <div class="world-kid__item-title">
                                <img src=".//images/world-kid-arrow.png" alt="">
                                Hai Bàn Tay Của Em <br>
                                Bé Hà Mi, Gia Khiêm <br>
                                Hướng Dẫn Đánh Răng Cực Đáng Yêu
                            </div>
                            <div class="world-kid__item-des">
                                    Ya yo! Cùng cầm bàn chải lên nào các bạn ơi  </br>
                                    Mình học đánh răng theo kiểu mới </br>
                                    Và được gặp những người bạn tuyệt vời </br>
                                    Nào mình cùng vừa chải vừa chơi...
                            </div>
                            <div class="world-kid__item-read-more">
                                    <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>  
        <div class="world-kid__paging">
            <ul>
                <li>
                    <a href="#">&lt;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">&gt;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="world-kid__img-left">
        <img src=".//images/baby.png" alt="baby">
    </div>
    <div class="world-kid__img-right">
        <img src=".//images/car.png" alt="car">
    </div>
</div>