
<!--section1-->
<div class="home">
    <div class="section1">
        <div class="heading">
            <div class="heading-1"> 
                <img class="heart heart-1" src="./assets/images/heart-single.png" alt="">
                #WowUniDry
                <img class="heart heart-2" src="./assets/images/heart-single.png" alt="">
            </div>
            <div class="heading-2">Cùng bé yêu năng động mỗi ngày</div>
        </div>
        <div class="section1__slider">
            <div class="contain-global">
                <div class="slider2">
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <!-- <div class="title">
                                            <span>Tã sơ <br>sinh Unidry</span>
                                        </div> -->
                                        <a href="#" class="btn-buynow">
                                            <span>Tã sơ sinh Unidry sinh Unidry</span>
                                        </a>
                                        
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-2.png" alt="">
                                        </div>
                                        <!-- <div class="title"><span>Tã sơ sinh Unidry</span></div> -->
                                        <a href="#" class="btn-buynow">
                                            <span>Tã sơ sinh Unidry</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-3.png" alt="">
                                        </div>
                                        <!-- <div class="title"><span>Tã sơ sinh Unidry</span></div> -->
                                        <a href="#" class="btn-buynow">
                                            <span>Tã sơ sinh Unidry</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-4.png" alt="">
                                        </div>
                                        <!-- <div class="title"><span>Tã sơ sinh Unidry</span></div> -->
                                        <a href="#" class="btn-buynow">
                                            <span>Tã sơ sinh Unidry</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <!-- <div class="title"><span>Tã sơ sinh Unidry</span></div> -->
                                        <a href="#" class="btn-buynow">
                                            <span>Tã sơ sinh Unidry</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!--section2-->
    <div class="section2">
        <div class="contain-global">
            <div class="heading">
                <div class="heading-1"> 
                    <img class="heart heart-1" src="./assets/images/heart-single.png" alt="">
                    1000 ngày vàng
                    <img class="heart heart-2" src="./assets/images/heart-single.png" alt="">    
                </div>
                <div class="heading-2">Cùng bé khôn lớn</div>
            </div>
            <div class="section2__images">
                <a href="#"><img src="./assets/images/section3-main-img.png" alt=""></a>
            </div>
        </div>
    </div>

    <!--section3-->
    <div class="section3">
        <div class="section3__content">
            <div class="heading">
                <div class="heading-1">
                    Đánh giá khách hàng
                    </div>
                <div class="heading-2">2000 reviews</div>
                <div class="clearfix"></div>
            </div>
            <div class="details">
                <div class="slider3">
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">
                                    <div class="rating-widget">
                                        <!-- Rating Stars Box -->
                                        <div class="rating-stars text-left">
                                            <ul id="stars">
                                                <li class="star" data-value="1" title="Poor">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="2" title="Fair">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="3" title="Good">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="4" title="Excellent">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="5" title="WOW!!!">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="success-box">
                                            <div class="text-message"></div>
                                        </div>
                                    </div>
                                    <div class="date">20/3/2019</div>
                                </div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">
                                    <div class="rating-widget">
                                        <!-- Rating Stars Box -->
                                        <div class="rating-stars text-left">
                                            <ul id="stars">
                                                <li class="star" data-value="1" title="Poor">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="2" title="Fair">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="3" title="Good">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="4" title="Excellent">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="5" title="WOW!!!">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="success-box">
                                            <div class="text-message"></div>
                                        </div>
                                    </div>
                                    <div class="date">20/3/2019</div>
                                </div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">
                                    <div class="rating-widget">
                                        <!-- Rating Stars Box -->
                                        <div class="rating-stars text-left">
                                            <ul id="stars">
                                                <li class="star" data-value="1" title="Poor">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="2" title="Fair">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="3" title="Good">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="4" title="Excellent">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="5" title="WOW!!!">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="success-box">
                                            <div class="text-message"></div>
                                        </div>
                                    </div>
                                    <div class="date">20/3/2019</div>
                                </div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">
                                    <div class="rating-widget">
                                        <!-- Rating Stars Box -->
                                        <div class="rating-stars text-left">
                                            <ul id="stars">
                                                <li class="star" data-value="1" title="Poor">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="2" title="Fair">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="3" title="Good">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="4" title="Excellent">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="5" title="WOW!!!">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="success-box">
                                            <div class="text-message"></div>
                                        </div>
                                    </div>
                                    <div class="date">20/3/2019</div>
                                </div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">
                                    <div class="rating-widget">
                                        <!-- Rating Stars Box -->
                                        <div class="rating-stars text-left">
                                            <ul id="stars">
                                                <li class="star" data-value="1" title="Poor">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="2" title="Fair">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="3" title="Good">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="4" title="Excellent">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                                <li class="star" data-value="5" title="WOW!!!">
                                                    <i class="fa fa-star fa-fw"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="success-box">
                                            <div class="text-message"></div>
                                        </div>
                                    </div>
                                    <div class="date">20/3/2019</div>
                                </div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--section4-->
    <div class="section4">
        <div class="section4__content">
            <div class="heading">
                <div class="heading-1"> 
                    <img class="heart heart-1" src="./assets/images/heart-single.png" alt="">
                    Bảng tin Unidry
                    <img class="heart heart-2" src="./assets/images/heart-single.png" alt="">
                </div>
                <div class="heading-2">Cùng bé khôn lớn</div>
            </div>
            <div class="details">
                <div class="slider4">
                    <div class="item">
                        <div class="images popup" data-url="https://www.youtube.com/embed/epO0PxTtqP4">
                            <img src="./assets/images/section4-1.jpg" alt="">                            
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <img src="./assets/images/section4-1.jpg" alt="">
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <table class="footer__table table-1">
            <tr>
                <th colspan="2">CÔNG TY TNHH TAISUN VIỆT NAM</th>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>Lô A 1-6 Đường N5 KCN Tây Bắc, Củ Chi, Hồ Chí Minh, Việt Nam</td>
            </tr>
            <tr>
                <td>Tel:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><a href="#">www.taisun.com.vn</a></td>
            </tr>
        </table>
        <table class="footer__table table-2">
            <tr>
                <th colspan="2">VĂN PHÒNG KINH DOANH TP.HCM</th>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>Số 20 đường Phan Đình Giót,P.2, Q.Tân Bình, Hồ Chí Minh</td>
            </tr>
            <tr>
                <td>Tel:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><a href="#">www.taisun.com.vn</a></td>
            </tr>
        </table>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-icon" data-dismiss="modal">
                <img src="./assets/images/close.png" alt="">
            </div>
            <div class="modal-body">
                <div class="title">
                    <div class="text-1">Mẹ có muốn chia sẻ chương trình</div>
                    <div class="text-2">"Mua Tã cho bé, mẹ nhận ngay quà"</div>
                    <div class="text-3">đến với bạn bè để có cơ hội nhận kèm thẻ cào điện thoại trị giá 50,000 VND?</div>
                </div>

                <div class="pull-images">
                    <div class="wrap">
                        <div class="img">
                            <div class="result">
                                <img id="blah" src="./assets/images/pull-img.png" alt="icon-fb.png">
                            </div>
                            <img id="blah-fake" src="./assets/images/btn-pull-img.png" alt="icon-fb.png">
                        </div>
                        <input type="file" id="imageFile" >
                    </div>
                </div>

                <i class="text">
                    Hình chụp sản phẩm đã mua (Không bắt buộc)
                </i>

                <div class="share">
                    <img src="./assets/images/icon-fbCopy.png" alt="icon-fb.png">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="show-image" style="display: none;">
    <div class="overlay"></div>
    <div class="img-show">
        <span>X</span>
        <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
</div>

