<div class="taisun_website">
    <div class="header">
        <div class="header__bg">
            <img src="./assets/images/bg-header.png" alt="">
        </div>
        <div class="header__logo">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <div class="header__nav">
            <ul  class="header__nav-left">
                <li>
                    <a href="#">Sản phẩm</a>
                </li>
                <li>
                    <a href="#">Khuyến mãi</a>
                </li>
                <li>
                    <a href="#">Cửa hàng</a>
                </li>
                <li>
                    <a href="#">Sự kiện</a>
                </li>
            </ul>
            <ul class="header__nav-right">
                <li>
                    <a href="#">Thế giới của bé</a>
                </li>
                <li>
                    <a href="#">Diaper Tips</a>
                </li>
                <li>
                    <a href="#">Bí quyết của mẹ</a>
                </li>
                <li>
                    <a href="#">Góc tư vấn</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <ul>
            <li>
                <a href="#"><img src="./assets/images/icon-fb.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
            </li>
        </ul>

        <div class="banner__slider">
            <div class="slider1">
                <div class="item">
                    <div class="title">test</div>
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="title">test</div>
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="title">test</div>
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section1">
        <div class="title">
            asdfadf
        </div>
        <div class="section1__slider">
            <div class="slider2">
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/section1-1.png" alt="">
                    </div>
                    <div class="title">sadfasdf</div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/section1-2.png" alt="">
                    </div>
                    <div class="title">sadfasdf</div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/section1-3.png" alt="">
                    </div>
                    <div class="title">sadfasdf</div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/section1-4.png" alt="">
                    </div>
                    <div class="title">sadfasdf</div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/section1-1.png" alt="">
                    </div>
                    <div class="title">sadfasdf</div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/section1-2.png" alt="">
                    </div>
                    <div class="title">sadfasdf</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section2"></div>
    <div class="section3"></div>
    <div class="section4"></div>
    <div class="footer"></div>
</div>