<div class="taisun_website">
    <div class="header">
        <div class="header__bg">
            <!-- <img src="./assets/images/bg-header.png" alt=""> -->
        </div>
        <div class="header__content">
            <div class="contain-global">
                <div class="header__logo">
                    <img src="./assets/images/logo.png" alt="">
                </div>
                <div class="header__toggle-icon">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="header__nav">
                    <ul  class="header__nav--left">
                        <li>
                            <a href="#">Sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Khuyến mãi</a>
                        </li>
                        <li>
                            <a href="#">Cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Sự kiện</a>
                        </li>
                    </ul>
                    <ul class="header__nav--right">
                        <li>
                            <a href="#">Thế giới của bé</a>
                        </li>
                        <li>
                            <a href="#">Diaper Tips</a>
                        </li>
                        <li>
                            <a href="#">Bí quyết của mẹ</a>
                        </li>
                        <li>
                            <a href="#">Góc tư vấn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
       
    </div>
    <div class="banner">
        <ul class="banner__icon">
            <li>
                <a href="#"><img src="./assets/images/icon-fb.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
            </li>
        </ul>

        <div class="banner__slider">
            <div class="slider1">
                <div class="item">
                    <div class="title">
                        <span class="title-1"> Tả giấy Unidry</span>
                        <span class="title-2">thấm hút nhẹ êm, nâng niu mông bé</span>
                    </div>
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span class="title-1"> Tả giấy Unidry</span>
                        <span class="title-2">thấm hút nhẹ êm, nâng niu mông bé</span>
                    </div>
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span class="title-1"> Tả giấy Unidry</span>
                        <span class="title-2">thấm hút nhẹ êm, nâng niu mông bé</span>
                    </div>
                    <div class="img">
                        <img src="./assets/images/slider-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section1">
        <div class="heading">
            <span class="heading-1"> #WowUniDry</span>
            <span class="heading-2">Cùng bé yêu năng động mỗi ngày</span>
        </div>
        <div class="section1__slider">
            <div class="contain-global">
                <div class="slider2">
                    <div class="item">
                        <div class="content">
                            <div class="img">
                                <img src="./assets/images/section1-1.png" alt="">
                            </div>
                            <div class="title">Tả sơ sinh <br> Unidry</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="title">Tả dán super <br> Unidry siêu thấm</div>
                        </div>
                    </div>
                    <div class="item">
                            <div class="content">
                            <div class="img">
                                <img src="./assets/images/section1-3.png" alt="">
                            </div>
                            <div class="title">Tả quần Unidry <br>thế hệ mới</div>
                        </div>
    
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img">
                                <img src="./assets/images/section1-4.png" alt="">
                            </div>
                            <div class="title">Tả Unidry <br> Premium</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img">
                                <img src="./assets/images/section1-1.png" alt="">
                            </div>
                            <div class="title">Tả sơ sinh <br> Unidry</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="img">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="title">Tả dán super <br> Unidry siêu thấm</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section2">
        <div class="contain-global">
            <div class="heading">
                <span class="heading-1"> 1000 ngày vàng</span>
                <span class="heading-2">Cùng bé khôn lớn</span>
            </div>
            <div class="section2__images">
                <img src="./assets/images/section3-main-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="section3">
        <div class="section3__content">
            <div class="heading">
                <span class="heading-1"> Đánh giá khách hàng</span>
                <span class="heading-2">2000 reviews</span>
                <div class="clearfix"></div>
            </div>
            <div class="details">
                <div class="slider3">
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-1.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">42342342</div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-2.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">42342342</div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-3.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">42342342</div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-4.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">42342342</div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item--details">
                            <div class="item-left">
                                <img src="./assets/images/section1-1.png" alt="">
                            </div>
                            <div class="item-right">
                                <div class="date-ratestar">42342342</div>
                                <div class="comment">Sản phẩm sử dụng rất thích, tôi sẽ tiếp tục sử dụng</div>
                                <div class="author">sdfasfd</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section4">
        <div class="section4__content">
            <div class="heading">
                <span class="heading-1"> 1000 ngày vàng</span>
                <span class="heading-2">Cùng bé khôn lớn</span>
            </div>
            <div class="details">
                <div class="slider4">
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="images">
                            <a href="#"><img src="./assets/images/section4-1.jpg" alt=""></a>
                            <a href="#" class="read-more">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <table class="footer__table table-1">
            <tr>
                <th colspan="2">CÔNG TY TNHH TAISUN VIỆT NAM</th>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>Lô A 1-6 Đường N5 KCN Tây Bắc, Củ Chi, Hồ Chí Minh, Việt Nam</td>
            </tr>
            <tr>
                <td>Tel:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><a href="#">www.taisun.com.vn</a></td>
            </tr>
        </table>
        <table class="footer__table table-2">
            <tr>
                <th colspan="2">VĂN PHÒNG KINH DOANH TP.HCM</th>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>Số 20 đường Phan Đình Giót,P.2, Q.Tân Bình, Hồ Chí Minh</td>
            </tr>
            <tr>
                <td>Tel:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>(84-8) 3790 8681 - 5</td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><a href="#">www.taisun.com.vn</a></td>
            </tr>
        </table>
        <div class="clearfix"></div>
    </div>
</div>