<!--section1-->
<div class="post">
    <div class="contain-global">
        <div class="post__contain">
            <div class="world-kid__menu-tabs">
                <ul>
                    <li>
                        <a href="#">Những bài hát, phim hoạt hình, nhạc nhảy funny</a>
                    </li>
                    <li class="active">
                        <a href="#">Truyện vui dành cho bé</a>
                    </li>
                </ul>
            </div>
            <div class="post__content">
                <div class="post__content--heading">CÁCH CHỌN ĐỒ CHƠI PHÁT TRIỂN TRÍ TUỆ CHO BÉ 1 TUỔI MẸ CẦN BIẾT</div>
                <div class="post__content--details">
                    <p>Từ lúc 12 tháng tuổi, não bộ của trẻ đã hoàn thiện và có thể tiếp thu nhiều kiến thức mới. Việc lựa chọn đồ chơi phù hợp với giai đoạn phát triển của trẻ sẽ giúp trẻ vừa chơi, vừa học và phát triển toàn diện. Nắm bắt điều này, rất nhiều bố mẹ phân vân làm sao để chọn đồ chơi phát triển trí tuệ cho bé 1 tuổi phù hợp và an toàn.
                    </p>
                    
                    <p>
                        <span class="detail-title">Đồ chơi phát triển trí tuệ là gì?</span>
                        Trẻ bước vào giai đoạn trẻ 1 – 2 tuổi sẽ có những bước tiến đánh dấu hành trình khôn lớn đầu tiên. 1 tuổi trở lên cũng chính là giai đoạn bé tiếp thu thông tin tốt nhất.
                    </p>
                    <div class="image"><img src="./assets/images/post-img.jpg" alt=""></div>
                    <p>
                        Thời điểm này, đồ chơi không chỉ giúp bé vui mà còn giúp bé phát triển trí não và tìm hiểu thế giới bên ngoài. Vì vậy việc lựa chọn đồ chơi trẻ em cần sự chăm chút hơn của cha mẹ.
                    </p>
                    <p>
                        Những đồ chơi lắp ghép, đồ chơi phát ra âm thanh sống động hay những cuốn sách được tạo hình với nhiều tranh ảnh ngộ nghĩnh đáng yêu cũng rất tốt cho bé. Đây chính là những loại đồ chơi phát triển trí tuệ, kích thích tính tư duy, khả năng học hỏi tìm tòi. Qua đó có thể định hướng tốt hơn cho trí não của bé ngay từ những tháng năm đầu đời trong hành trình nuôi dạy trẻ.
                    </p>
                    <p>
                        <span class="detail-title">Tiêu chí khi chọn đồ chơi cho bé 1 tuổi</span>
                        Khi nhận được một món đồ chơi, trẻ thường trải qua 3 giai đoạn:
                    </p>
    
                    <p>
                        Giai đoạn 1: Chú ý và tỏ ra quan tâm<br>
                        Giai đoạn 2: Chủ động tham gia và khám phá nhưng luôn tìm cách giao tiếp với bạn bằng cử chỉ, ánh mắt hoặc lời nói<br>
                        Giai đoạn 3: Bé sẽ tự chơi và khám phá món đồ chơi
                    </p>
                    
                    <p>
                        Trong giai đoạn 2, nhiều liên kết thần kinh não bộ của bé sẽ phát triển. Đôi khi trẻ chỉ vừa chú ý ở giai đoạn 1 nhưng do không được tạo không gian khám phá hoặc tự chơi một mình, bé sẽ có xu hướng chuyển nhanh qua giai đoạn 3. Lúc này những liên kết cần có để tạo sự phân tích, đánh giá và so sánh không diễn ra.
                    </p>
                    
                    <p>
                        Vì thế, khi chọn mua đồ chơi cho con có 3 điểm quan trọng nhất cha mẹ cần lưu tâm đó là:
                    </p>
                    <ul>
                        <li>
                            Món đồ chơi đó có thể chơi cùng người khác, cha mẹ có thể giao tiếp, trò chuyện với trẻ thông qua đồ chơi ấy
                        </li>
                        <li>
                            Đồ chơi đó phải nuôi dưỡng khả năng tập trung cho trẻ; hoặc có khả năng biến hóa khi trẻ chơi hoặc tác động vào nó
                        </li>
                        <li>
                            Nếu có thể thì đồ chơi handmade là một lựa chọn không tồi vì nó có ý nghĩa đặc biệt đối với trẻ: trẻ cảm nhận được tình yêu thương của cha mẹ, lưu lại những kỉ niệm ấu thơ cho trẻ.
                        </li>
                        <li>
                            Những món đồ chơi phát triển trí tuệ cho bé 1 tuổi
                        </li>
                        <li>
                            Nhiều cha mẹ tìm mua những đồ chơi công nghệ thông minh hay các loại game, chương trình đọc chữ, học toán giúp trẻ phát triển trí tuệ. Tuy nhiên, cấp độ thông minh của đồ chơi không nằm ở công nghệ. Đồ chơi phải phù hợp với độ tuổi trẻ mới phát huy được khả năng.
                        </li>
                    </ul>   
                    <div class="image"><img src="./assets/images/post-img.jpg" alt=""></div>
    
                    <p>
                        <span class="detail-title">Gợi ý các món đồ chơi phát triển trí tuệ cho mẹ</span>
                        <i>Đồ chơi xếp hình đơn giản</i>
                        Ở độ tuổi này mẹ không nên chọn mua những món đồ lắp ghép quá phức tạp bởi khó quá con sẽ nhanh chán và bỏ cuộc. Bé 1 tuổi chỉ cần một bộ xếp hình có các hình khối căn bản là đủ.<br>
                        Những liên kết căn bản giữa các hình khối sẽ là bài học dành cho con trong giai đoạn này. Mẹ đừng quên cổ vũ và khen ngợi nhiệt tình mỗi khi con làm đúng nhé!
                    </p>
                    
                    <p>
                        <i>Đồ chơi nhiều màu sắc</i>
                        Dù là bé trai hay bé gái cha mẹ không nên cứng nhắc chọn những đồ chơi phát triển trí tuệ cho bé 1 tuổi bởi ở giới tính nào, con cũng đều thích thú với những gam màu sặc sỡ và bị thu hút bởi sự tương phản màu sắc.
                    </p>
                    <p>
    
                    </p>
                    <p>
                        <i>Đồ chơi rối ngón tay</i>
                        Với món đồ chơi này, những câu chuyện kể của mẹ sẽ thú vị và sinh động hơn rất nhiều. Ngoài ra, mẹ cũng có thể cho con tự chơi với món đồ này để kích thích sự sáng tạo của riêng mình. Con sẽ bắt chước mẹ tạo ra những cuộc hội thoại cho các bạn thú cưng. 
                        Chưa hết, không chỉ giúp con cử động thành thạo các ngón tay bé xinh mà những món đồ chơi này còn kích thích trí tưởng tượng và sáng tạo của não bộ.
                    </p>
                    <p>
                        <i>
                                Lục lạc
                        </i>
                        Lục lạc đại diện cho những món đồ chơi âm thanh. Loại đồ chơi này giúp kích thích sự phát triển thính giác, bé sẽ bị cuốn theo, nhờ đó giúp hình thành thói quen tập trung, lắng nghe, phân loại và phản xạ với âm thanh.
                    </p>
                </div>
            </div>  
            <div class="post__other">
                <div class="post__other--heading">
                    <span>BÀI VIẾT KHÁC</span>
                </div>
                <div class="post__other--list">
                    <div class="post__other--item">
                        <a href="#" class="post__other--image"><img src="./assets/images/share-item.jpg" alt=""></a>
                        <a href="#" class="post__other--title">
                             Hai Bàn Tay Của Em Bé Hà Mi, Gia Khiêm Hướng Dẫn Đánh Răng Cực Đáng Yêu
                        </a>
                    </div>
                    <div class="post__other--item">
                        <a href="#" class="post__other--image"><img src="./assets/images/share-item.jpg" alt=""></a>
                        <a href="#" class="post__other--title">
                            Hai Bàn Tay Của Em Bé Hà Mi, Gia Khiêm Hướng Dẫn Đánh Răng Cực Đáng Yêu
                        </a>
                    </div>
                    <div class="post__other--item">
                        <a href="#" class="post__other--image"><img src="./assets/images/share-item.jpg" alt=""></a>
                        <a href="#" class="post__other--title">
                           Hai Bàn Tay Của Em Bé Hà Mi,  Răng Cực Đáng Yêu
                        </a>
                    </div>
                    <div class="post__other--item">
                        <a href="#" class="post__other--image"><img src="./assets/images/share-item.jpg" alt=""></a>
                        <a href="#" class="post__other--title">
                            Hai Bàn Tay Của Em Bé Hà Mi, Gia Khiêm Hướng Dẫn Đánh Răng Cực Đáng Yêu Dẫn Đánh Răng Cực Đáng Yêu
                        </a>
                    </div>
                    <div class="post__other--item">
                        <a href="#" class="post__other--image"><img src="./assets/images/share-item.jpg" alt=""></a>
                        <a href="#" class="post__other--title">
                            Làm thế nào để trẻ hết ho?
                        </a>
                    </div>
                    <div class="post__other--item">
                        <a href="#" class="post__other--image"><img src="./assets/images/share-item.jpg" alt=""></a>
                        <a href="#" class="post__other--title">
                            Làm thế nào để trẻ hết ho?
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="post__img train">
        <img src="./assets/images/train.png" alt="baby">
    </div>
    <div class="post__img baby">
        <img src="./assets/images/baby.png" alt="baby">
    </div>
    <div class="post__img car">
        <img src="./assets/images/car.png" alt="car">
    </div>
</div>