<div class="product-detail">
    <div class="product-detail__content">
        <div class="product-detail__top">
            <div class="product-detail__list-function">
                <ul>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-1.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-2.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-3.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-4.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-5.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-6.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-top">
                            Lưng thun co giãn mềm mại
                        </div>
                        <div class="image">
                            <div class="image-hover">
                                <img src="./assets/images/circle-7.png" alt="">
                            </div>
                            <div class="text-hover">
                                <span>Tự điều chỉnh để ôm vừa thân bé không để vết hằn trên da</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="product-detail__info">
                <div class="product-detail__title">
                    <div class="title-1"> Tả dán Unidry 
                        <img class="heart" src="./assets/images/heart-cupple.png" alt="">
                    </div>
                    <div class="title-2">thấm hút nhẹ êm, nâng niu mông bé</div>
                </div>
                <div class="product-detail__info-left">
                    
                    <div class="product-detail__slider">
                        <div class="slider-product-detail--for product-detail--for">
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slider-product-detail--nav product-detail--nav">
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="./assets/images/section1-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-detail__info-right">
                    <div class="info-right__content">
                        <div class="info-right__title">
                            tả gán Unidry
                        </div>
                        <div class="info-right__des">
                            Đột phá với bông siêu mỏng được tăng cường hạt siêu 
                            Đột phá với bông siêu mỏng được tăng cường hạt siêu 
                            Đột phá với bông siêu mỏng được tăng cường hạt siêu 
                            Đột phá với bông siêu mỏng được tăng cường hạt siêu 
                        </div>
                        <div class="info-right__table-size">
                            <table>
                                <tr>
                                    <th>Size</th>
                                    <th>Trọng lượng</th>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td> 3 -7kg</td>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td> 3 -7kg</td>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td> 3 -7kg</td>
                                </tr>
                            </table>
                        </div>
                        <div class="info-right__sales">
                            <div class="info-right__sales-list">
                                <div class="item">
                                    <div class="image">
                                        <img src="./assets/images/section1-2.png" alt="">
                                    </div>
                                    <div class="text">
                                        Mua 2 gói được giảm ngay 50.000đ
                                    </div>
                                </div>
                            
                                <div class="item">
                                    <div class="image">
                                        <img src="./assets/images/section1-2.png" alt="">
                                    </div>
                                    <div class="text">
                                        Mua 2 gói được giảm ngay 50.000đ
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <a href="#" class="btn-buynow">
                                <span class="btn ">Mua ngay</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="product-detail__related">
            <div class="container-fluid">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="product-detail__related-left">
                        <div class="related-left__title related-title">
                            <div class="title-1">
                                Sản phẩm khác
                                <img class="heart" src="./assets/images/heart-cupple-brown.jpg" alt="">
                            </div>
                        </div>
                        <div class="related-left__content">
                            <div class="item">
                                <div class="content">
                                    <div class="img">
                                        <img src="./assets/images/section1-1.png" alt="">
                                    </div>
                                    <div class="title">Tả sơ sinh <br> Unidry</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="img">
                                        <img src="./assets/images/section1-2.png" alt="">
                                    </div>
                                    <div class="title">Tả sơ sinh <br> Unidry</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="img">
                                        <img src="./assets/images/section1-1.png" alt="">
                                    </div>
                                    <div class="title">Tả sơ sinh <br> Unidry</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="product-detail__related-right">
                        <div class="related-right__title related-title">
                            <div class="title-1">
                                Chứng nhận
                                <img class="heart" src="./assets/images/heart-cupple-brown.jpg" alt="">
                            </div>
                        </div>
                        <div class="related-right__content">
                            <div class="slider-award">
                                <div class="item">
                                    <img src="./assets/images/product-detail-award-1.jpg" alt="product-detail-award">
                                </div>
                                <div class="item">
                                    <img src="./assets/images/product-detail-award-2.jpg" alt="product-detail-award">
                                </div>
                                <div class="item">
                                    <img src="./assets/images/product-detail-award-3.jpg" alt="product-detail-award">
                                </div>
                                <div class="item">
                                    <img src="./assets/images/product-detail-award-4.jpg" alt="product-detail-award">
                                </div>
                                <div class="item">
                                    <img src="./assets/images/product-detail-award-2.jpg" alt="product-detail-award">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail__evaluate">
            <div class="product-detail__evaluate-title">
                <div class="evaluate-button">
                    <a href="#" class="btn-evaluate write-evaluate">
                        <img src="./assets/images/icon-write.jpg" alt="">
                        <span>viết đánh giá</span>
                    </a>
                    <a href="#" class="btn-evaluate write-question">
                        <img src="./assets/images/icon-question.jpg" alt="">
                        <span>đặt câu hỏi</span>
                    </a>
                </div>
                <div class="evaluate-title">
                    Đánh giá khách hàng
                    <div class="evaluate-review">
                        Review(2000)
                    </div>
                </div>                
            </div>
            <div class="product-detail__evaluate-list-user">
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="evaluate-item">
                    <div class="evaluate-avatar">
                        <img src="./assets/images/section2-2.png" alt="">
                    </div>
                    <div class="evaluate-info">
                        <div class="evaluate-info--top">
                            <div class="evaluate-info--name">Hoang Trang</div>
                            <div class="evaluate-info--date">02/03/2019</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="evaluate-info--star">
                            <div class="rating-widget">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars text-left">
                                    <ul id="stars">
                                        <li class="star" data-value="1" title="Poor">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="2" title="Fair">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="3" title="Good">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="4" title="Excellent">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" data-value="5" title="WOW!!!">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="success-box">
                                    <div class="text-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="evaluate-info--comment">
                            San pham su dung rat thich, toi se tiep tuc su dung
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="evaluate-paging">
                <ul>
                    <li>
                        <a href="#">&lt;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">&gt;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>