<!--section1-->
<div class="product">
    <div class="section1">
        <div class="heading">
            <div class="heading-1"> 
                <img class="heart heart-1" src="./assets/images/heart-single.png" alt="">
                #WowUniDry
                <img class="heart heart-2" src="./assets/images/heart-single.png" alt="">
            </div>
            <div class="heading-2">Cùng bé yêu năng động mỗi ngày</div>
        </div>
        <div class="section1__slider">
            <div class="contain-global">
                <div class="slider2">
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Tã sơ sinh Unidry</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-2.png" alt="">
                                        </div>
                                        <div class="title">Tã sơ sinh Unidry</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-3.png" alt="">
                                        </div>
                                        <div class="title">Tã sơ sinh Unidry</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-4.png" alt="">
                                        </div>
                                        <div class="title">Tã sơ sinh Unidry</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Tã sơ sinh Unidry</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>