
<!--section1-->
<div class="promotion">
    <div class="section1">
        <div class="heading">
            <div class="heading-1"> 
                Tin khuyến mãi
                <img class="heart heart-2" src="./assets/images/heart-cupple.png" alt="">
            </div>
        </div>
        <div class="section1__slider">
            <div class="contain-global">
                <div class="slider-promotion-1">
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-2.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-3.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-4.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item">
                        <table>
                            <tr>
                                <td>
                                    <div class="content">
                                        <div class="img">
                                            <img src="./assets/images/section1-1.png" alt="">
                                        </div>
                                        <div class="title">Mua 2 gói được giảm ngay 50.000đ</div>
                                        <a href="#" class="btn-buynow">
                                            <span class="btn ">Mua ngay</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div> -->
                   
                
                </div>
            </div>
            
        </div>
    </div>
</div>



