<!--footer-->
<div class="footer--1">
    <table class="footer__table table-1">
        <tr>
            <th colspan="2">CÔNG TY TNHH TAISUN VIỆT NAM</th>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td>Lô A 1-6 Đường N5 KCN Tây Bắc, Củ Chi, Hồ Chí Minh, Việt Nam</td>
        </tr>
        <tr>
            <td>Tel:</td>
            <td>(84-8) 3790 8681 - 5</td>
        </tr>
        <tr>
            <td>Fax:</td>
            <td>(84-8) 3790 8681 - 5</td>
        </tr>
        <tr>
            <td>Website:</td>
            <td><a href="#">www.taisun.com.vn</a></td>
        </tr>
    </table>
    <table class="footer__table table-2">
        <tr>
            <th colspan="2">VĂN PHÒNG KINH DOANH TP.HCM</th>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td>Số 20 đường Phan Đình Giót,P.2, Q.Tân Bình, Hồ Chí Minh</td>
        </tr>
        <tr>
            <td>Tel:</td>
            <td>(84-8) 3790 8681 - 5</td>
        </tr>
        <tr>
            <td>Fax:</td>
            <td>(84-8) 3790 8681 - 5</td>
        </tr>
        <tr>
            <td>Website:</td>
            <td><a href="#">www.taisun.com.vn</a></td>
        </tr>
    </table>
    <div class="clearfix"></div>
</div>