<!--header-->
<div class="header">
    <div class="header__bg">
        <div class="header__logo">
            <a href="/home.html"><img src="./assets/images/logo.png" alt=""></a>
        </div>
    </div>
    <ul class="header__icon">
        <li>
            <a href="#"><img src="./assets/images/icon-fb.png" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
        </li>
    </ul>
    <div class="header__toggle-icon">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
    <div class="header__content">
        <div class="contain-global">

            <div class="header__nav">
                <div class="header__nav--item header__nav--left">
                    <ul class="header__nav--item-child">
                        <li>
                            <a href="https://www.unidry.com.vn/dongsanpham/ta-unidry" class="hover-product">Sản phẩm
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="header__nav--product mobile active">
                                <li>
                                    <a href="https://www.unidry.com.vn/sanpham/ta-so-sinh-unidry">Tã sơ sinh UniDry</a>
                                </li>
                                <li>
                                    <a href="https://www.unidry.com.vn/sanpham/ta-dan-unidry">Tã dán UniDry</a>
                                </li>
                                <li>
                                    <a href="https://www.unidry.com.vn/sanpham/ta-quan-unidry">Tã quần UniDry</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://www.unidry.com.vn/khuyenmai">Khuyến mãi</a>
                        </li>
                        <li>
                            <a href="https://www.unidry.com.vn/cuahang">Cửa hàng</a>
                        </li>
                        <li>
                            <a class="hover-promotion">Sự kiện</a>
                            <ul class="header__nav--promotion mobile">
                                <li>
                                    <a href="https://www.unidry.com.vn/khuyenmaitaisun">Chương trình Thẻ cào</a>
                                </li>
                                <li>
                                    <a href="https://www.unidry.com.vn/khuyenmaitaisun">17 giờ vàng</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="header__nav--promotion header__data-menu pc" data-menu="promotion">
                        <li>
                            <a href="https://www.unidry.com.vn/khuyenmaitaisun">Chương trình Thẻ cào</a>
                        </li>
                        <li>
                            <a href="https://www.unidry.com.vn/khuyenmaitaisun">17 giờ vàng</a>
                        </li>
                    </ul>
                    <ul class="header__nav--product header__data-menu pc" data-menu="product">
                        <li>
                            <a href="https://www.unidry.com.vn/sanpham/ta-so-sinh-unidry">Tã sơ sinh UniDry</a>
                        </li>
                        <li>
                            <a href="https://www.unidry.com.vn/sanpham/ta-dan-unidry">Tã dán UniDry</a>
                        </li>
                        <li>
                            <a href="https://www.unidry.com.vn/sanpham/ta-quan-unidry">Tã quần UniDry</a>
                        </li>
                    </ul>
                </div>

                <div class="header__nav--item header__nav--right" style="position: relative;">
                    <ul class="header__nav--item-child">
                        <li>
                            <a href="https://www.unidry.com.vn/bai-viet/the-gioi-cua-be/goc-giai-tri">Về Unidry</a>
                        </li>
                        <li>
                            <a href="https://www.unidry.com.vn/bai-viet/bi-quyet-cua-me/thu-thai" class="hover-skill">Bí
                                quyết của mẹ</a>
                        </li>

                        <li>
                            <a href="https://www.unidry.com.vn/goc-tu-van">Góc tư vấn</a>
                        </li>
                    </ul>
                    <ul class="header__nav--product header__data-menu pc" data-menu="skill">
                        <li>
                            <a href="https://www.unidry.com.vn/sanpham/ta-so-sinh-unidry">Thế giới của bé</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="header__nav--mobile">
                <ul>
                    <li>
                        <a href="https://www.unidry.com.vn/dongsanpham/ta-unidry">Sản phẩm</a>
                        <ul>
                            <li>
                                <a href="https://www.unidry.com.vn/sanpham/ta-so-sinh-unidry">Tã sơ sinh UniDry</a>
                            </li>
                            <li>
                                <a href="https://www.unidry.com.vn/sanpham/ta-dan-unidry">Tã dán UniDry</a>
                            </li>
                            <li>
                                <a href="https://www.unidry.com.vn/sanpham/ta-quan-unidry">Tã quần sinh UniDry</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="href=" https://www.unidry.com.vn/khuyenmai"">Khuyến mãi</a>
                    </li>
                    <li>
                        <a href="https://www.unidry.com.vn/cuahang">Cửa hàng</a>
                    </li>
                    <li>
                        <a>Sự kiện</a>
                        <ul>
                            <li>
                                <a href="https://www.unidry.com.vn/khuyenmaitaisun">Chương trình Thẻ cào</a>
                            </li>
                            <li>
                                <a href="https://www.unidry.com.vn/khuyenmaitaisun">17 giờ vàng</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://www.unidry.com.vn/bai-viet/the-gioi-cua-be/goc-giai-tri">Thế giới của bé</a>
                    </li>
                    <li>
                        <a href="https://www.unidry.com.vn/bai-viet/bi-quyet-cua-me/thu-thai">Bí quyết của mẹ</a>
                    </li>
                    <li>
                        <a href="https://www.unidry.com.vn/goc-tu-van">Góc tư vấn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {# <div class="header__content">
            <div class="contain-global">
               
                <div class="header__nav">
                    <div  class="header__nav--item header__nav--left">
                        <ul class="header__nav--item-child">
                            <li>
                                <a class="hover-product">Sản phẩm
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul  class="header__nav--product mobile">
                                    <li>
                                        <a href="#">Tã sơ sinh</a>
                                    </li>
                                    <li>
                                        <a href="#">Tã giấy</a>
                                    </li>
                                    <li>
                                        <a href="#">Tã dán</a>
                                    </li>
                                    <li>
                                        <a href="#">Tã Unidry Premium</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="hover-promotion" href="./promotion.html">Khuyến mãi</a>
                                <ul  class="header__nav--promotion mobile">
                                    <li>
                                        <a href="#">Chương trình Thẻ cào</a>
                                    </li>
                                    <li>
                                        <a href="#">17 giờ vàng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="./contact.html">Cửa hàng</a>
                            </li>
                            <li>
                                <a href="#">Sự kiện</a>
                            </li>
                        </ul>
                       
                        <ul  class="header__nav--promotion pc">
                            <li>
                                <a href="#">Chương trình Thẻ cào</a>
                            </li>
                            <li>
                                <a href="#">17 giờ vàng</a>
                            </li>
                        </ul>
                        <ul  class="header__nav--product pc">
                            <li>
                                <a href="#">Tã sơ sinh</a>
                            </li>
                            <li>
                                <a href="#">Tã giấy</a>
                            </li>
                            <li>
                                <a href="#">Tã dán</a>
                            </li>
                            <li>
                                <a href="#">Tã Unidry Premium</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__nav--item header__nav--right">
                       <ul  class="header__nav--item-child">
                            <li>
                                <a href="#">Thế giới của bé</a>
                            </li>
                            <li>
                                <a href="#">Bí quyết của mẹ</a>
                            </li>
                            <li>
                                <a href="#">Góc tư vấn</a>
                            </li>
                       </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> #}
</div>

<div class="space"></div>

<div class="show-image" style="display: none;">
    <div class="overlay"></div>
    <div class="img-show">
        <span>X</span>
        <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
    </div>
</div>