    <!--header-->
    <div class="header">
        <div class="header__bg"></div>
        <ul class="header__icon">
            <li>
                <a href="#"><img src="./assets/images/icon-fb.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
            </li>
        </ul>
        <div class="header__content">
            <div class="contain-global">
                <div class="header__logo">
                    <a href="/home.html"><img src="./assets/images/logo.png" alt=""></a>
                </div>
                <div class="header__toggle-icon">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="header__nav">
                    <ul  class="header__nav--left">
                        <li>
                            <a href="./product.html">Sản phẩm</a>
                        </li>
                        <li>
                            <a href="./promotion.html">Khuyến mãi</a>
                        </li>
                        <li>
                            <a href="./contact.html">Cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Sự kiện</a>
                        </li>
                    </ul>
                    <ul class="header__nav--right">
                        <li>
                            <a href="#">Thế giới của bé</a>
                        </li>
                        <li>
                            <a href="#">Diaper Tips</a>
                        </li>
                        <li>
                            <a href="#">Bí quyết của mẹ</a>
                        </li>
                        <li>
                            <a href="#">Góc tư vấn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>