    <!--header-->
    <div class="header">
        <div class="header__bg">
            <div class="header__logo">
                <a href="/home.html"><img src="./assets/images/logo.png" alt=""></a>
            </div>
        </div>
        <ul class="header__icon">
            <li>
                <a href="#"><img src="./assets/images/icon-fb.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
            </li>
        </ul>
        <div class="header__toggle-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </div>
        <div class="header__content">
            <div class="contain-global">
               
                <div class="header__nav">
                    <div  class="header__nav--item header__nav--left">
                        <ul class="header__nav--item-child">
                            <li>
                                <a class="hover-product">Sản phẩm
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul  class="header__nav--product mobile">
                                    <li>
                                        <a href="#">Tã sơ sinh</a>
                                    </li>
                                    <li>
                                        <a href="#">Tã giấy</a>
                                    </li>
                                    <li>
                                        <a href="#">Tã dán</a>
                                    </li>
                                    <li>
                                        <a href="#">Tã Unidry Premium</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="./promotion.html">Khuyến mãi</a>
                            </li>
                            <li>
                                <a href="./contact.html">Cửa hàng</a>
                            </li>
                            <li>
                                <a href="#">Sự kiện</a>
                            </li>
                        </ul>
                        <ul  class="header__nav--product pc">
                            <li>
                                <a href="#">Tã sơ sinh</a>
                            </li>
                            <li>
                                <a href="#">Tã giấy</a>
                            </li>
                            <li>
                                <a href="#">Tã dán</a>
                            </li>
                            <li>
                                <a href="#">Tã Unidry Premium</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header__nav--item header__nav--right">
                       <ul  class="header__nav--item-child">
                            <li>
                                <a href="#">Thế giới của bé</a>
                            </li>
                            <li>
                                <a href="#">Bí quyết của mẹ</a>
                            </li>
                            <li>
                                <a href="#">Góc tư vấn</a>
                            </li>
                       </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>