/*animate animateCloud-left */
@-webkit-keyframes animateCloud-left {
    0% {
		left: 0;
    }
    100% {
        left: 100%;
    }
}

@-moz-keyframes animateCloud-left {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes animateCloud-left {
    0% {
		left: 0;
    }
    100% {
        left: 100%;
    }
}



/*animate animateCloud-rotate */
$rotate : 8deg;

@-webkit-keyframes animateCloud-rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate($rotate);
    }
    100% {
        transform: rotate(0);
    }
}

@-moz-keyframes animateCloud-rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate($rotate);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes animateCloud-rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate($rotate);
    }
    100% {
        transform: rotate(0);
    }
}


/* ANIMATIONS */

.cloud {
	-webkit-animation: animateCloud-left 5s linear infinite;
	-moz-animation: animateCloud-left 5s linear infinite;
	animation: animateCloud-left 5s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}
.cloud-1, .cloud-2,.cloud-3 {
	-webkit-animation: animateCloud-rotate 0.6s linear infinite;
	-moz-animation: animateCloud-rotate 0.6s linear infinite;
	animation: animateCloud-rotate 0.6s linear infinite;
	
}

