.header{
    position: relative;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
    &__icon{
        position: absolute;
        right: 120px;
        z-index: 2;
        top: calc(100% + 50px);
        @media (max-width:1200px) {
            right: 15px;
        } 
        @media (max-width:992px) {
            top: calc(100% + 10px);
        } 
    }
    &__bg{
        height: 130px;
        position: relative;
        overflow: hidden;
        background-image: url('../assets/images/bg-header.png');
        background-size: cover;
        @media (max-width:1200px) {
           height: 80px;
        } 
        img{
            width: 100%;
        }
    }
    &__toggle-icon{
        display: none;
        position: absolute;
        right: 15px;
        top: 30px;
        cursor: pointer;
        z-index: 2;
        @media (max-width:1200px) {
           display: block
         }
        .fa{
            font-size: 25px
        }
    }
    &__content{
        @media (min-width:992px) {
            .contain-global{
                width: 100%
            }
         }
        @media (min-width:1200px) {
            .contain-global{
                width: 1200px
            }
        }

        @media (min-width:1500px) {
            .contain-global{
                width: 1400px;
            }
        }
        @media (min-width: 1600px) {
            
            .contain-global{
                width: 1520px;
            }
        }
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        top: 15px;
        z-index: 1;
        width: 100%;;
        
        @media (max-width:1200px) {
            z-index: 2;
            top: 0;
            height: 0;
        } 
         
        @media (max-width:992px) {
           .contain-global{
               width: 100%
           }
        } 
    }

    &__logo{
        max-width: 225px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width:1200px) {
           margin-left: 20px;
           padding-top: 15px;
           padding-bottom: 15px;
           max-width: 150px;
        } 
        @media (max-width:768px) {
            padding-top: 10px;
        }
        img{
            width: 100%;
        }
    }
    &__nav{
        @media (max-width:1200px) {
            text-align: center;
            max-width: 100%;
            margin: 0 auto;
            box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
            transform: translateY(-121%);
            -moz-transform: translateY(-121%);
            -o-transform: translateY(-121%);
            -webkit-transform: translateY(-121%);
            transition: all 0.5s;
            &.active{
                transform: none;
                -moz-transform: none;
                -o-transform: none;
                -webkit-transform: none;

                
            }
        } 
        
        ul{
            background-color: #ffdc00;
            border-radius: 30px;
            padding-left:30px;
            padding-right: 30px;
            box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
            @media (max-width:1200px) {
                background-color: transparent;
                border-radius: 0;
                padding-left:0;
                padding-right: 0;
                box-shadow: none;
                float: none;
                margin-bottom: 0
            }
            li{
                display: inline;
                a{
                    color:#7c5723;
                    font-size: 18px;
                    font-family: 'Gotham-Book';
                    padding: 15px 20px;
                    display: inline-block;
                    @media (max-width:1200px) {
                        padding: 15px 5px;
                        display: block;
                        background-color: #ffd88c;
                        color: #25205f;
                    }
                }
            }
            &:nth-child(2){
                background-color: #fff;
                border-radius: 0 0 20px 20px;
                position: absolute;
                bottom: -120px;
                padding-left: 13px;
                z-index: 1;
                padding-right: 13px;
                padding-top: 36px;
                opacity: 0;
                transition: all .5s;
                li{
                    position: relative;
                    &::before{
                        position: absolute;
                        height:35px;
                        width: 1px;
                        content: '';
                        background-color:  #7c5723;
                        top: 50%;
                        transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                    &:first-child{
                        &::before{
                            position: static;
                           
                        }
                    }
                }
            }
            &:nth-child(3){
                padding-left:15px;
                padding-right: 15px;
                @media (max-width:1200px) {
                    padding-left:0;
                    padding-right: 0;
                }
                li{
                    a{
                        padding: 15px 10px;
                        @media (max-width:1200px) {
                            padding: 15px 5px;
                        }
                    }
                }
            }
        }

        

        &--left{
            float: left;
            position: relative;
            z-index: 2;
        }
        &--right{
            float: right;
        }
    }
    .hover-product{
        cursor: pointer;
        .fa{
            display: none;
            @media(max-width: 1200px){
                display: inline
            }
        }
    }

}