body {
    font-family: 'Gotham-Light';
    border: none;
    font-size: 13px
}

.error {
    color: red;
    font-weight: normal
}

.color-green-light {
    color: #67c0b2
}

.font-medium {
    font-family: 'Gotham-Medium';
}

.font-light {
    font-family: 'Gotham-Light';
}

.font-black {
    font-family: 'Gotham-Black';
}
.font-book {
    font-family: 'Gotham-Book';
}

$color-blue : #00afef;

.taisun_website { 
}


/*End style*/