body {
    font-family: 'Gotham-Light';
    border: none;
    font-size: 13px
}

.error {
    color: red;
    font-weight: normal
}

.color-green-light {
    color: #67c0b2
}

.font-medium {
    font-family: 'Gotham-Medium';
}

.font-light {
    font-family: 'Gotham-Light';
}

.font-black {
    font-family: 'Gotham-Black';
}
.font-book {
    font-family: 'Gotham-Book';
}
.font-icielMijas {
    font-family: 'iCielMijas';
}
.font-iCielSmoothy-Cursive {
    font-family: 'iCielSmoothy-Cursive';
}

$color-blue : #00afef;

.taisun_website { 
    .banner{
        position: relative;
        &__icon{
            position: absolute;
            right: 120px;
            z-index: 1;
            top: 60px;
            @media (max-width:1200px) {
                right: 15px;
            } 
            @media (max-width:480px) {
                top: 15px;
            } 
        }
        &__slider{
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-image: url('../assets/images/cloud-bg.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                width: 150px;
                z-index: 1;
                left: 30%;
                top: 30px;
                transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                @media (max-width:768px) {
                    width: 50px;
                } 
            }
            &::after{
                position: absolute;
                content: '';
                background-image: url('../assets/images/cloud-bg.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                width: 80px;
                z-index: 1;
                left:15%;
                top: 65%;
                transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                @media (max-width:768px) {
                    width: 50px;
                } 
            }
            .item{
                position: relative;
                cursor: pointer;
                outline: none;
                .title{
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    
                    &-1{
                        font-size: 75pt;
                        color: #ec038d;
                        font-family: 'iCielMijas';
                        position: relative;
                        .heart{
                            position: absolute;
                            top: -5px;
                            right: -35px;
                            @media (max-width:768px) {
                                top: 0;
                                right: -15px;
                                max-width: 28px;
                            } 
                        }
                        @media (max-width:1200px) {
                            font-size:45pt;
                        } 
                        @media (max-width:480px) {
                            font-size:25pt;
                        } 
                    }
                    &-2{
                        font-size: 24pt;
                        font-family: 'iCielSmoothy-Cursive';
                        padding-left: 120px;
                        margin-top: -20px;
                        color: #ec038d;
                        @media(max-width: 992px){
                            font-size: 15pt;
                            padding-left: 0
                        }
                        @media(max-width: 480px){
                            font-size: 10pt;
                            margin-top: -10px
                        }
                    }
                    span{
                        display: inline-block;
                    }
                }
                .img{   
                    img{
                        width: 100%;
                    }
                }
            }
            
           
        }
    }

    .section1{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            background-repeat: repeat-x;
            background-image:url('../assets/images/cloud.png') ;
            width: 100%;
            height: 50px;
            top: -80px;
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            @media(max-width: 992px){
               display: none
             }
        }
        &::after{
            content:'';
            position: absolute;
            background-repeat: repeat-x;
            background-image:url('../assets/images/cloud.png') ;
            width: 100%;
            height: 50px;
            bottom: -50px;
            z-index: 1;
        }
        .heading{
            text-align: center;
            color: #ec038d;
            margin-top: 30px;
            &-1{
                font-size: 45pt;
                font-family: 'iCielMijas';
                position: relative;
                display: inline;
                .heart{
                    position: absolute;
                    &-1{
                        top: 16px;
                        left: -24px;
                        max-width: 20px;
                        transform: rotate(-97deg);
                        -moz-transform: rotate(-97deg);
                        -o-transform: rotate(-97deg);
                        -webkit-transform: rotate(-97deg);
                    }
                    &-2{
                        top: -40px;
                        right: -50px;
                    }
                    @media (max-width:768px) {
                        top: 0;
                        right: -15px;
                        max-width: 28px;
                    } 
                }
                @media(max-width: 390px){
                    font-size: 35pt;
                 }
            }
            &-2{
                font-size: 24pt;
                font-family: 'iCielSmoothy-Cursive';
                margin-top: -20px;
                @media(max-width: 992px){
                    font-size: 15pt;
                 }
            }
            span{
                display: block;
            }
        }
        &__slider{
            margin-top: 65px;
            padding-bottom: 40px;
            @media(max-width: 768px){
               margin-top: 20px;
            }
            
            .item{
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                height: 440px;
                @media(max-width: 768px){
                    height: 300px;
                }
                cursor: pointer;
                outline: none;
                .content{
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    max-width: 255px;
                    width: 100%;
                }

                .title{
                    background-color: #ffdc00;
                    border-radius: 30px;
                    padding: 10px;
                    font-size: 16px;
                    font-family: 'Gotham-Bold';
                    color: #7c5723;
                }
               
                .img{
                    max-width: 230px;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        @media(max-width: 768px){
                            width: 60%;
                            max-width: 160px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

            }

            .slick-prev, .slick-next{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%)
            }

            .slick-prev{
                left: -70px;
                @media(max-width: 1800px){
                    left: -30px;
                }
                @media(max-width: 1500px){
                    left: -100px;
                }
            }
            .slick-next{
                right: -70px;
                @media(max-width: 1800px){
                    right: -30px;
                }
                @media(max-width: 1500px){
                    right: -100px;
                }
            }
                
            .slick-arrow{
                background-color: #7c5723;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border:none;
                outline: none;
                cursor: pointer;
                z-index: 2;
                &:hover{
                    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
                }
                img{
                    max-width: 17px;
                    width: 100%;
                    margin-right: 2px;
                }
            }
        }
        
    }

    .section2{
        position: relative;
        padding-bottom:60px;
        background-color: #ffd88c;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../assets/images/clouds.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 50px;
            width: 75px;
            z-index: 1;
            left: 35px;
            top: 15%;
            transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            @media (max-width:768px) {
                width: 50px;
                left: 20px;
            } 
        }
        
        .heading{
            text-align: center;
            color: #ec038d;
            padding-top: 80px;
            &-1{
                font-size: 45pt;
                font-family: 'iCielMijas';
                position: relative;
                display: inline;
                .heart{
                    position: absolute;
                    &-1{
                        top: -30px;
                        left: -52px;
                        transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                    }
                    &-2{
                        top: 15px;
                        right: -27px;
                        width: 20px;
                    }
                    @media (max-width:768px) {
                        top: 0;
                        right: -15px;
                        max-width: 28px;
                    } 
                }
                @media(max-width: 390px){
                    font-size: 35pt;
                 }
            }
            &-2{
                font-size: 24pt;
                font-family: 'iCielSmoothy-Cursive';
                margin-top: -20px;
                @media(max-width: 992px){
                    font-size: 15pt;
                 }
            }
            span{
                display: block;
            }
        }
        &__images{
            margin-top: 30px;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 100%;
            }
        }
    }
    .section3{
        position: relative;
        padding-bottom:60px;
        &::before{
            content:'';
            position: absolute;
            background-repeat: repeat-x;
            background-image:url('../assets/images/cloud.png') ;
            width: 100%;
            height: 50px;
            top: -50px;
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
        &::after{
            content:'';
            position: absolute;
            background-repeat: repeat-x;
            background-image:url('../assets/images/cloud.png') ;
            width: 100%;
            height: 50px;
            bottom: -50px;
            z-index: 1;
            
        }
        &__content{
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            @media(max-width: 1500px){
                max-width: 1100px;
            }
            @media(max-width: 1200px){
               padding-left: 15px;
               padding-right: 15px;
            }
        }
        .heading{
            text-align: center;
            color: #7c5723;
            padding-top: 60px;
            border-bottom: 1px solid #e3dbd0;
            &-1{
                font-size: 25pt;
                font-family: 'iCielMijas';
                text-align: left;
                float: left;
                width: 50%;
                position: relative;
                display: inline;
                
                 @media(max-width: 768px){
                     float: none;
                     width: 100%;
                     text-align: left
                }
                @media(max-width: 390px){
                    font-size: 35pt;
                 }
            }
            &-2{
                font-size: 8pt;
                font-family: 'Gotham-Light';
                font-style: italic;
                text-align: right;
                float: right;
                width: 50%;
                line-height: 25pt;
                 @media(max-width: 768px){
                     float: none;
                     width: 100%;
                     text-align: left;
                     line-height: normal
                }
            }
            span{
                display: inline-block;
            }
        }
        .details{
            margin-top: 30px;
            .item{
                position: relative;
                height: 230px;
                cursor: pointer;
                outline: none;
                &--details{
                    position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%,-50%);
                    // -moz-transform: translate(-50%,-50%);
                    // -o-transform: translate(-50%,-50%);
                    // -webkit-transform: translate(-50%,-50%);
                    width: 100%;
                }
                &-left{
                    max-width: 130px;
                    float: left;
                    img{
                        width: 100%;
                    }
                }
                &-right{
                    float: right;
                    width: calc(100% - 130px);
                    padding-left: 20px;
                    .date-ratestar{
                        font-style: italic;
                        font-size: 8pt;
                        color: #7c5723;
                        margin-top: 25px;   
                    }
                    .comment{
                        color: #7c5723;
                        font-style: italic;
                        font-size: 8pt;
                        margin-top: 30px;
                        max-width: 200px;
                        @media(max-width: 480px){
                            max-width: 100%;
                        }
                    }
                    .author{
                        color: #7c5723;
                        font-family: 'Gotham-Bold';
                        font-size: 8pt;
                        margin-top: 25px;
                    }
                }
            }


            .slick-prev, .slick-next{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%)
            }

            .slick-prev{
                left: -100px;
            }
            .slick-next{
                right: -40px;
            }
                
            .slick-arrow{
                background-color: #7c5723;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border:none;
                outline: none;
                cursor: pointer;
                z-index: 2;
                &:hover{
                    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
                }
                img{
                    max-width: 17px;
                    width: 100%;
                    margin-right: 2px;
                }
            }
        }
    }

    .section4{
        position: relative;
        background-image:url('../assets/images/section4-bg.png');
        padding-bottom: 120px;
        background-size: 100% 100%;
        @media(max-width: 992px){
          background-size: cover;
         }
        .heading{
            text-align: center;
            color: #ec038d;
            padding-top: 80px;
            &-1{
                font-size: 45pt;
                font-family: 'iCielMijas';
                position: relative;
                display: inline;
                .heart{
                    position: absolute;
                    &-1{
                        top: -30px;
                        left: -52px;
                        transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                    }
                    &-2{
                        top: 15px;
                        right: -27px;
                        width: 20px;
                    }
                    @media (max-width:768px) {
                        top: 0;
                        right: -15px;
                        max-width: 28px;
                    } 
                }
                @media(max-width: 390px){
                    font-size: 35pt;
                 }
            }
            &-2{
                font-size: 24pt;
                font-family: 'iCielSmoothy-Cursive';
                margin-top: -20px;
                @media(max-width: 992px){
                    font-size: 15pt;
                 }
            }
            span{
                display: block;
            }
        }
        .details{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 55px;
            @media(max-width: 1200px){
                padding-left: 15px;
                padding-right: 15px;
             }
            .item{
                padding: 23px;
                border:1px dashed #7c5723;
                .images{
                    position: relative;
                    img{
                        width: 100%;
                    }
                    .read-more{
                        padding: 7px 0; 
                        width: 165px;
                        background-color: #ffdc00;
                        border-radius: 25px;
                        color: #7c5723;
                        text-align: center;
                        display: inline-block;
                        font-size: 13pt;
                        font-family: 'Gotham-Bold';
                        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 14px;
                    }
                }
            }
            .slick-prev, .slick-next{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%)
            }

            .slick-prev{
                left: -100px;
            }
            .slick-next{
                right: -100px;
            }
                
            .slick-arrow{
                background-color: #7c5723;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border:none;
                outline: none;
                cursor: pointer;
                z-index: 2;
                &:hover{
                    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
                }
                img{
                    max-width: 17px;
                    width: 100%;
                    margin-right: 2px;
                }
            }
        }
    }

    .footer{
        padding-left: 150px;
        padding-top: 70px;
        padding-bottom: 65px;
        @media(max-width: 992px){
            padding-left: 15px;
            padding-right: 15px;
        }
        &__table{
            max-width: 270px;
            float: left;
            @media(max-width: 768px){
                float: none;
                width: 100%;
                max-width: 100%;
            }
            td{
                vertical-align: text-top;
                padding: 2px 0
            }
            th{
                padding-bottom: 20px;
                @media(max-width: 768px){
                    padding-bottom: 10px;
                }
            }
            td, th{
                color:#7c5723;
                font-family: 'Gotham-Book';
            }
            a{
                color:#7c5723;
            }
        }
        .table-1{

        }
        .table-2{
            margin-left: 45px;
            @media(max-width: 768px){
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    .slick-dots{
        padding: 0;
        text-align: center;
        margin-top: 15px;
        li{
            display: inline-block;
            margin: 0 2px;
            button{
                background-color: #fff;
                border:1px solid #7c5723;
                border-radius: 50%;
                font-size: 0;
                height: 15px;
                width: 15px;
                @media(max-width: 1200px){
                    height: 10px;
                    width: 10px;
                    padding: 0
                 }
            }
            &.slick-active{
                button{
                    background-color: #7c5723;
                    border:1px solid #7c5723;
                }
            }
        }
    }

    

    /* Rating Star Widgets Style */
    .rating-widget, .date{
        display: inline;
    }
    .rating-widget{
       float: left;
    }
    .date{
        margin-left: 10px;
        line-height: 20px;    
    }
    
    .rating-stars ul {
        list-style-type:none;
        padding:0;
        
        -moz-user-select:none;
        -webkit-user-select:none;
    }
    .rating-stars ul > li.star {
        display:inline-block;
    
    }

    /* Idle State of the stars */
    .rating-stars ul > li.star > i.fa {
        font-size:1.5em; /* Change the size of the stars */
        color:#ccc; /* Color on idle state */
        width: 12px;
    }

    /* Hover state of the stars */
    .rating-stars ul > li.star.hover > i.fa {
        color:#7c5723;
    }

    /* Selected state of the stars */
    .rating-stars ul > li.star.selected > i.fa {
        color:#7c5723;
    }

    #success{
        .close-icon{
         
            height: 40px;
            cursor: pointer;
            width: 40px;
            position: absolute;
            right: -33px;
            top: -16px;
            background: #fff;
            border-radius: 50%;
            padding: 5px;

          
            @media (max-width: 768px){
                height: 25px;
                cursor: pointer;
                width: 25px;
                position: absolute;
                right: -12px;
                top: -10px;
            }
            img{
                width: 100%;
                vertical-align: top;
            }
        }
        .modal-dialog {
            // max-width: 1200px;
            max-width: 62.500vw;
            margin: 50px auto;
            width: 100%;
            
            @media (max-width: 1400px){
                margin: 20px auto;
            }
            @media (max-width: 768px){
                max-width: 90%;
            }
        }

        
        .modal-body{
            padding-bottom: 60px;
            @media (min-width: 768px){
                padding-bottom: 30px;
            }
            .title{
                text-align: center;
                max-width: 1040px;
                margin: 0 auto;
            }
            .text-1{
                // font-size: 35px;
                font-size: 1.823vw;
                font-family: 'Gotham-Book';
                padding-top: 30px;
                @media(max-width:992px) {
                    font-size: 20px;
                }
            }
            .text-2{
                // font-size: 42px;
                font-size: 2.188vw;
                color:#25205f;
                font-family: 'iCielMijas';
                text-transform: uppercase;
                @media(max-width:992px) {
                    font-size: 30px;
                }
            }
            .text-3{
                // font-size: 36px;
                font-size: 1.875vw;
                font-family: 'Gotham-Book';
                padding-left: 30px;
                padding-right: 30px;
                @media(max-width:992px) {
                    font-size: 20px;
                }
            }
        
        }

        .modal-content{
            border-radius: 45px;
            // background-image: url('../assets/images/bg-popup.png');
            background-image: url('../assets/images/bg-modal.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @media(max-width:992px) {
                background-size: cover
            }
        }
        .review{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            width: 100%;
            height: 100%;
            z-index: 3;
            
            img{
                width: 100%;
                
            }
        }
        .pull-images{
            margin-top: 50px;
            @media(max-width:1400px) {
                margin-top: 20px;
            }
            .wrap{
                width: 100%;
                // max-width: 290px;
                max-width: 15.104vw;
                // height: 290px;
                height: 15.104vw;
                margin: 0 auto;
                border: 2px #828282 dashed;
                border-radius: 45px;
                outline: none;
                text-align: center;
                position: relative;
                overflow: hidden;   

                @media(max-width:992px) {
                    max-width: 270px;
                    height: 250px;
                }
                
            }
            input{
                height: 100%;
                position: absolute;
                top: 0;
                opacity: 0;
                width: 100%;
            }
            .img{
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
            }
            
        }
        .text{
            text-align: center;
            display: block;
            font-size: 14px;
            color:#241f5f;
            margin-top: 10px;
        }
        .share{
            // max-width: 360px;
            max-width: 18.750vw;
            margin: 0 auto;
            padding-top: 50px;
            cursor: pointer;
            @media(max-width:1400px) {
                padding-top: 20px;
            }
            @media(max-width:992px) {
                max-width: 310px;
                padding-top: 25px;
            }
            img{
                width: 100%;
                
            }
        }
        .result{
            // max-width: 250px;
            max-width: 13.021vw;
            margin: 0 auto;
            margin-bottom: 13px;
            position: relative;
            overflow: hidden;
            // height: 170px;
            height: 8.854vw;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            
            @media(max-width:992px) {
                max-width: 200px;
                height: 140px;
            }


            
        }   
        #blah{
            width: 100%;
            
        }
        #blah-fake{
            width: 100%;
            // max-width: 250px;;
            max-width: 13.021vw;;
            @media(max-width:992px) {
                max-width: 200px;
            }
            
        }
    }
                    
                                    
}


/*End style*/