
.slick-dots{
    padding: 0;
    text-align: center;
    margin-top: 15px;
    li{
        display: inline-block;
        margin: 0 2px;
        button{
            background-color: #fff;
            border:1px solid #7c5723;
            border-radius: 50%;
            font-size: 0;
            height: 15px;
            width: 15px;
            outline: none;
            @media(max-width: 1200px){
                height: 10px;
                width: 10px;
                padding: 0
             }
        }
        &.slick-active{
            button{
                background-color: #7c5723;
                border:1px solid #7c5723;
            }
        }
    }
}