/* Rating Star Widgets Style */
.rating-widget, .date{
    display: inline;
}
.date{
    margin-left: 10px;
    line-height: 20px;    
}
.rating-widget{
   float: left;
   ul {
        list-style-type:none;
        padding:0;
        
        -moz-user-select:none;
        -webkit-user-select:none;
        > li.star {
            display:inline-block;
            > i.fa {
                font-size:1.5em; /* Change the size of the stars */
                color:#ccc; /* Color on idle state */
                width: 12px;
            }
            &.hover > i.fa {
                color:#7c5723;
            }
            &.selected > i.fa {
                color:#7c5723;
            }
        }
    }
}

